In [28]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv("../EURUSD(2023).csv")

In [30]:
data

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume
0,0,2023-01-02 04:00:00,1.07016,1.07017,1.06909,1.06967,340,1,0
1,1,2023-01-02 08:00:00,1.06971,1.07005,1.06636,1.06784,5790,0,0
2,2,2023-01-02 12:00:00,1.06788,1.06898,1.06749,1.06788,3224,0,0
3,3,2023-01-02 16:00:00,1.06787,1.06819,1.06510,1.06607,5026,0,0
4,4,2023-01-02 20:00:00,1.06604,1.06727,1.06499,1.06665,2361,0,0
...,...,...,...,...,...,...,...,...,...
1549,1549,2023-12-29 04:00:00,1.10788,1.10792,1.10606,1.10660,12650,0,0
1550,1550,2023-12-29 08:00:00,1.10660,1.10775,1.10443,1.10491,26954,0,0
1551,1551,2023-12-29 12:00:00,1.10491,1.10809,1.10463,1.10486,34033,0,0
1552,1552,2023-12-29 16:00:00,1.10487,1.10787,1.10422,1.10640,67685,0,0
1553,1553,2023-12-29 20:00:00,1.10640,1.10641,1.10334,1.10360,30542,1,0

In [31]:
def calculate_macd(data, short_period=12, long_period=26, signal_period=9):
    """Calculate the MACD and signal line."""
    data['ema_short'] = data['close'].ewm(span=short_period, adjust=False).mean()
    data['ema_long'] = data['close'].ewm(span=long_period, adjust=False).mean()

    data['MACD'] = data['ema_short'] - data['ema_long']
    data['signal_line'] = data['MACD'].ewm(span=signal_period, adjust=False).mean()

    data['MACD_histogram'] = data['MACD'] - data['signal_line']

    return data

In [32]:
df = calculate_macd(data, short_period=12, long_period=26, signal_period=9)

df

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume,ema_short,ema_long,MACD,signal_line,MACD_histogram
0,0,2023-01-02 04:00:00,1.07016,1.07017,1.06909,1.06967,340,1,0,1.069670,1.069670,0.000000,0.000000,0.000000
1,1,2023-01-02 08:00:00,1.06971,1.07005,1.06636,1.06784,5790,0,0,1.069388,1.069534,-0.000146,-0.000029,-0.000117
2,2,2023-01-02 12:00:00,1.06788,1.06898,1.06749,1.06788,3224,0,0,1.069156,1.069412,-0.000256,-0.000074,-0.000181
3,3,2023-01-02 16:00:00,1.06787,1.06819,1.06510,1.06607,5026,0,0,1.068682,1.069164,-0.000483,-0.000156,-0.000327
4,4,2023-01-02 20:00:00,1.06604,1.06727,1.06499,1.06665,2361,0,0,1.068369,1.068978,-0.000609,-0.000247,-0.000362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,1549,2023-12-29 04:00:00,1.10788,1.10792,1.10606,1.10660,12650,0,0,1.107482,1.105180,0.002302,0.002849,-0.000547
1550,1550,2023-12-29 08:00:00,1.10660,1.10775,1.10443,1.10491,26954,0,0,1.107086,1.105160,0.001926,0.002664,-0.000738
1551,1551,2023-12-29 12:00:00,1.10491,1.10809,1.10463,1.10486,34033,0,0,1.106744,1.105138,0.001606,0.002453,-0.000847
1552,1552,2023-12-29 16:00:00,1.10487,1.10787,1.10422,1.10640,67685,0,0,1.106691,1.105231,0.001459,0.002254,-0.000795
1553,1553,2023-12-29 20:00:00,1.10640,1.10641,1.10334,1.10360,30542,1,0,1.106215,1.105110,0.001105,0.002024,-0.000919