In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../EURUSD(2023).csv")

In [4]:
data

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume
0,0,2023-01-02 04:00:00,1.07016,1.07017,1.06909,1.06967,340,1,0
1,1,2023-01-02 08:00:00,1.06971,1.07005,1.06636,1.06784,5790,0,0
2,2,2023-01-02 12:00:00,1.06788,1.06898,1.06749,1.06788,3224,0,0
3,3,2023-01-02 16:00:00,1.06787,1.06819,1.06510,1.06607,5026,0,0
4,4,2023-01-02 20:00:00,1.06604,1.06727,1.06499,1.06665,2361,0,0
...,...,...,...,...,...,...,...,...,...
1549,1549,2023-12-29 04:00:00,1.10788,1.10792,1.10606,1.10660,12650,0,0
1550,1550,2023-12-29 08:00:00,1.10660,1.10775,1.10443,1.10491,26954,0,0
1551,1551,2023-12-29 12:00:00,1.10491,1.10809,1.10463,1.10486,34033,0,0
1552,1552,2023-12-29 16:00:00,1.10487,1.10787,1.10422,1.10640,67685,0,0
1553,1553,2023-12-29 20:00:00,1.10640,1.10641,1.10334,1.10360,30542,1,0

In [5]:
def calculate_sma(data, window):
    """Calculate the Simple Moving Average (SMA) for a given window."""
    return data['close'].rolling(window=window).mean()

def sma_crossover_strategy(data, short_window=50, long_window=200):
    """Implement a simple SMA crossover strategy."""
    data['SMA_short'] = calculate_sma(data, short_window)
    data['SMA_long'] = calculate_sma(data, long_window)

    data['signal'] = 0
    data['signal'][short_window:] = np.where(data['SMA_short'][short_window:] > data['SMA_long'][short_window:], 1, 0)  
    data['positions'] = data['signal'].diff()

    return data[['time', 'close', 'SMA_short', 'SMA_long', 'signal', 'positions']]

In [6]:
df = sma_crossover_strategy(data, short_window=10, long_window=20)

print(data[['time', 'close', 'SMA_short', 'SMA_long']])

                     time    close  SMA_short  SMA_long
0     2023-01-02 04:00:00  1.06967        NaN       NaN
1     2023-01-02 08:00:00  1.06784        NaN       NaN
2     2023-01-02 12:00:00  1.06788        NaN       NaN
3     2023-01-02 16:00:00  1.06607        NaN       NaN
4     2023-01-02 20:00:00  1.06665        NaN       NaN
...                   ...      ...        ...       ...
1549  2023-12-29 04:00:00  1.10660   1.109231  1.106425
1550  2023-12-29 08:00:00  1.10491   1.108669  1.106559
1551  2023-12-29 12:00:00  1.10486   1.108112  1.106669
1552  2023-12-29 16:00:00  1.10640   1.107534  1.106918
1553  2023-12-29 20:00:00  1.10360   1.106800  1.107009

[1554 rows x 4 columns]

C:\Users\hevar\AppData\Local\Temp\ipykernel_4964\2685612938.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['signal'][short_window:] = np.where(data['SMA_short'][short_window:] > data['SMA_long'][short_window:], 1, 0)
C:\Users\hevar\AppData\Local\Temp\ipykernel_4964\2685612938.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['signal'][short_window:] = np.where(data['SMA_short'][short_window:] > data['SMA_long'][short_window:], 1, 0)

In [7]:
df.dropna(inplace=True)

C:\Users\hevar\AppData\Local\Temp\ipykernel_4964\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [8]:
df

                     time    close  SMA_short  SMA_long  signal  positions
19    2023-01-05 08:00:00  1.06235   1.059693  1.061640       0        0.0
20    2023-01-05 12:00:00  1.05524   1.059747  1.060918       0        0.0
21    2023-01-05 16:00:00  1.05299   1.059379  1.060176       0        0.0
22    2023-01-05 20:00:00  1.05207   1.058893  1.059385       0        0.0
23    2023-01-06 00:00:00  1.05250   1.058034  1.058706       0        0.0
...                   ...      ...        ...       ...     ...        ...
1549  2023-12-29 04:00:00  1.10660   1.109231  1.106425       1        0.0
1550  2023-12-29 08:00:00  1.10491   1.108669  1.106559       1        0.0
1551  2023-12-29 12:00:00  1.10486   1.108112  1.106669       1        0.0
1552  2023-12-29 16:00:00  1.10640   1.107534  1.106918       1        0.0
1553  2023-12-29 20:00:00  1.10360   1.106800  1.107009       0       -1.0

[1535 rows x 6 columns]